* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

input[type="email"], input[type="name"]  {
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    scrollbar-width: none;
    width: 90%;
    padding: 10px 12px;
}

.drop-down {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 200px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    left: 110px;
     }

     .drop-down {
        color: white;
     }

     .wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
     }

     .drop-down img {
      height: 30px;
     }

     .list {
        position: absolute;
        top: 45px;
        left:0;
        cursor: pointer;
        max-height: 250px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        display: none;
       }
  
       .show {
        display: block;
       }
  
       .item {
        display: flex;
        align-items: center;
        color: white;
       }

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; 
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 0 0 10px;
    padding: 1.5rem -2%;
}

#navbar__logo {
   background-color: #ff8177;
   background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); 
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-text-fill-color: transparent;
   display: flex;
   align-items: center;
   cursor: pointer;
   text-decoration: none;
   font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none; 
    height: 100%; 
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #9518fc;
    transition: all 0.3s ease;
    }

    @media screen and (max-width: 500.33px) {

        #navbar__logo {
            font-size: 15px !important;
         }
    
          .drop-down {
            position: fixed;
            left: 17.5rem !important;
          }
    
    }

      @media screen and (max-width: 390.33px) {
        .main__img--container {
          width: 95.5% !important; /* Change the width of the image container to 100% */
          justify-content: center;
        }
      
        .main__img--card {
            width: 95.5% !important; /* Change the width of the image to 100% */
            justify-content: center;
        }

        img {
            width: 96%;   
        }
      }


    @media screen and (max-width: 380.33px) {
    .main__content h1 {
        font-size: 1.2rem!important;
     }
     
     .main__content h2 {
         font-size: 1.4rem!important;
     }
     
     .main__content p {
         font-size: 1rem!important;
     }

     .main__img--card {
        max-width: 80%;
        height: auto;
      }

      .main__img--container {
        max-width: 100%;
        height: auto;
      }
    }
    
    @media screen and (max-width: 430.33px) {
        .navbar {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
        .hero__heading {
            font-size: 20px !important;
        }
    
        .navbar__container {
            width: 100%;
        }

    
        .drop-down {
            display: flex;
            font-size: 8px;
            height: 70px;
            left: 11.6rem !important;
             }
    
             .drop-down img {
                max-width: 100%;
             }

             .drop-down .item img {
                max-width: 20% !important;
               }

    }
    

    @media screen and (max-width: 960.33px) {

        .navbar__container {
            width: 100%;
        }
    
        #navbar__logo {
            padding-left: 10px;
            font-size: 20px;
         }
    
         .drop-down {
            position: fixed;
            left: 16em;
            top: 0.9em;
         }
    }
      

@media screen and (max-width: 1273.33px) {
    .navbar__container {
       display: flex;
       justify-content: space-between;
       height: 80px;
       z-index: 1;
       width: 100;
       max-width: 1300px;
       padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;   
        position: absolute;
        top: -1000px;  
        opacity: 1; 
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
     }  

    .navbar__menu.active {
       background: #131313;
       top: 100%;
       opacity: 1;
       transition: all 0.5s ease;
       z-index: 99;
       height: 60vh;
       font-size: 1.6rem;
    }

    #navbar__logo {
       padding-left: 25px;
    }

    .navbar__toggle .bar {
       width: 25px;
       height: 3px;
       margin: 5px auto;
       transition: all 0.3s ease-in-out;
       background: #fff;
    }

    .navbar__item {
       width: 100%
    }

    .navbar__links {
       text-align: center;
       padding: 2rem;
       width: 100%;
       display: table;
    }

    .navbar__btn {
       padding-bottom: 2rem;
        }

    .button {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 80%;
       height: 80px;
       margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
     }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media screen and (max-width: 1290px) {
    .services__wrapper {
      display: flex;
      padding: 0 20px;
      box-sizing: border-box;
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    }
    
    .services__card {
      width: 100%;
    }
  }

/* Services Section */
#services {
    background: #131114
}
#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .section-title {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    color: #231557;
}

#services .section-title span {
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right, 
        #ff6a00, 
        #ee0979
        );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right, 
        #ff6a00, 
        #ee0979
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

#services .service-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    color: #fff;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(images/office3.jpeg);
    background-size: cover;
    margin: 20px 30%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #131811 0%, #13161a 100%);
    opacity: .7;
    z-index: -1;
}
.services .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#service .service-bottom .icon img {
    height: 100;
    width: 100%;
    object-fit: cover;
}

#services .service-item h2 {
    color:#fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform:uppercase
}

#services .service-item p {
    color:#fff;
    font-size: 0.rem;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.9rem;
}

.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 480px) {

    .section-title {
        font-size: 30px !important;
    }

    #services .service-item {
        flex-basis: 130%!important;
        display: flex!important;
        margin: 5px 10%!important;
        position: relative!important;
    }

    #services .service-item h2 {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }
    
    #services .service-item p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
/* End Services Section */

/* Footer CSS */
.footer__container {
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
}

.footer__link--items > a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights {
    color: #fff;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
